include LICENSE.txt
include README.md
include requirements.txt
recursive-include line_plot *
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
recursive-exclude line_plot.egg-info *